html,
body {
  @apply m-0 p-0;
}

[style="dark"] body {
  background: rgb(3, 1, 17);
  color: rgb(184, 184, 226);
}

[style="light"] body {
  background: rgb(214, 214, 238);
  color: rgb(3, 1, 17);
}
